*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    width: 100vw;
    overflow-x: none;
}
.navContainer{
    width: 100vw;
    background-color: rgb(102, 63, 126);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
}
#navList{
    width: 100%;
    list-style: none;
    font-size: 2.5rem;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
#firstPara{
    font-size: 2.8rem;
    color: rgb(17, 101, 73);
   font-style: oblique;
   
}
a{
    text-decoration: none;
}
#navItems{
    display: flex;
    gap: 40px;
}
.footerBox{
    width: 100%;
    text-align: center;
    min-height: 30px;
}
.contentBox{
    width: 50%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    gap: 100px;
    
}

#GulabJamun{
    font-style: oblique;
    font-size: 36px;
    color: purple;
    text-shadow: 5px 5px 5px palevioletred;
}
.rightbox img{
   margin-left: 30%;
    width: 350px;
    height: 350px;
    transition: all 4s 0s linear;
    border: 2px solid black;
    border-radius: 20px;
}
.rightbox img:hover{
    height: 450px;
    width: 450px;
}

.leftbox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#manchurian{
    font-style: oblique;
    font-size: 36px;
    color: purple;
    text-shadow: 5px 5px 5px palevioletred;
}
#samosa{
    font-style: oblique;
    font-size: 36px;
    color: purple;
    text-shadow: 5px 5px 5px palevioletred;
}
#barfi{
    font-style: oblique;
    font-size: 36px;
    color: purple;
    text-shadow: 5px 5px 5px palevioletred;
}